  <!-- Background image-->
   <section>
    <img src="./images/02-background.jpg" class="img-fluid" alt="background">
   </section>

   <br>
   
   <section>
    <div class="card w-auto">
      <div class="card-body">
        <b><div><h1 class="has-text-centered"><strong>Most Popular Recipes</strong></h1></div></b>
      </div>
    </div>

    <br>

    <!-- Most Popular Recipes Cards-->
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <a href="/recipe/{{recipes.[0].id}}">
            <img src="./images/{{recipes.[0].filename}}" class="card-img-top" alt="card-image">
            <h5 class="card-title">{{recipes.[0].title}}</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
              <label id="staronebtn" class="btn btn-outline-primary" for="btncheck1"> <img src="./images/04-starbtn.jpg" class="card-img-top" alt="card-image"></label>
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <a href="/recipe/{{recipes.[1].id}}">
            <img src="./images/{{recipes.[1].filename}}" class="card-img-top" alt="card-image">
            <h5 class="card-title">{{recipes.[1].title}}</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
              <label id="startwobtn" class="btn btn-outline-primary" for="btncheck2"> <img src="./images/04-starbtn.jpg" class="card-img-top" alt="card-image"></label>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <a href="/recipe/{{recipes.[2].id}}">
            <img src="./images/{{recipes.[2].filename}}" class="card-img-top" alt="card-image">
            <h5 class="card-title">{{recipes.[2].title}}</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
              <label id="starthreebtn" class="btn btn-outline-primary" for="btncheck3"> <img src="./images/04-starbtn.jpg" class="card-img-top" alt="card-image"></label>
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <a href="/recipe/{{recipes.[3].id}}">
            <img src="./images/{{recipes.[3].filename}}" class="card-img-top" alt="card-image">
            <h5 class="card-title">{{recipes.[3].title}}</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
              <label id="starfourbtn" class="btn btn-outline-primary" for="btncheck4"> <img src="./images/04-starbtn.jpg" class="card-img-top" alt="card-image"></label>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <a href="/recipe/{{recipes.[4].id}}">
            <img src="./images/{{recipes.[4].filename}}" class="card-img-top" alt="card-image">
            <h5 class="card-title">{{recipes.[4].title}}</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
              <label id="starfivebtn" class="btn btn-outline-primary" for="btncheck5"> <img src="./images/04-starbtn.jpg" class="card-img-top" alt="card-image"></label>
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <a href="/recipe/{{recipes.[5].id}}">
            <img src="./images/{{recipes.[5].filename}}" class="card-img-top" alt="card-image">
            <h5 class="card-title">{{recipes.[5].title}}</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
              <label id="starsixbtn" class="btn btn-outline-primary" for="btncheck6"> <img src="./images/04-starbtn.jpg" class="card-img-top" alt="card-image"></label>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

<br>
<br>